<html>
    <head>
        <meta charset="utf-8">
        <script src="../javascripts/d3.min.js" type="text/javascript"></script>
        <script src="../javascripts/jquery-2.1.3.min.js"></script>
        <link href="../stylesheets/edition.css" rel="stylesheet" type="text/css"/>
        <script src="../javascripts/savetree.js" type="text/javascript"></script>
        <script src="../javascripts/bootstrap.min.js" type="text/javascript"></script>
        <link href="../stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <script src="../javascripts/bootstrap-editable.min.js" type="text/javascript"></script>
        <link href="../stylesheets/bootstrap-editable.css" rel="stylesheet" type="text/css"/>
        <title>Edition</title>
        <script type="text/javascript">
        var sentNodes = <%- nodes %>;
        var sendIdTree = <%- idTree %>;
        </script>
    </head>
    <body>
    	<div id="title">[TREE]</div>
        <button id="home" class="btn btn-primary" onclick="location.href='/trees'"><span class="glyphicon glyphicon-home"></span></button>
        <script src="../javascripts/d3tree.js" type="text/javascript"></script>
        <button id="btn-save" class="btn btn-primary" onclick="SaveTree()"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp Save</button>
        <div id="infos">
            [QUESTION]
           <!-- <p id="question">&nbsp</p> -->
            <a href="#" id="question" data-type="text" data-pk="1" data-url="" data-title="Definir la question"></a>
            <br/>
            [REPONSES]
            <div id="reponses"></div>
            <div id="newMenu">
                <button onClick="AddNode()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Ajouter</button>
                <!-- <button onClick="EndPoint()" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Définir point d'arrêt</button> -->
                <button onClick="DeleteNode()" class="btn btn-primary"><span class="glyphicon glyphicon-trash"></span> Supprimer</button>
            </div>
        </div>
    </body> 
</html>