<footer class="login-footer">
            <div class="footer-copyright">
                <div class="pull-right"><a href="http://www.alucara.com/">Raphaël Paré</a></div>
                Copyright © 2015 <img src="/images/gsb-logo.png" height="20" title="Logo GSB copyright"> | Tous droits réservés
            </div>
        </footer>