<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>User List</h1>
    <ul>
    <% userlist.foreach%>
    </ul>
    <p>Welcome to <%= title %></p>
  </body>
</html>
